@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forzar vista horizontal (apaisada) cuando el dispositivo está en orientación vertical */
.portrait-lock {
  transform: rotate(90deg);
  transform-origin: left top;
  width: 100vh;
  height: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  @apply bg-gray-900;
}

.font-fantasy {
  font-family: 'Uncial Antiqua', cursive;
}

.btn {
  @apply bg-blue-500 text-white px-4 py-2 rounded-xl m-1 hover:bg-blue-600 transition;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-10px); }
}

.animate-fadeInOut {
  animation: fadeInOut 2s ease-in-out;
}

.toast-expand {
  max-width: 800px !important;
  width: auto !important;
  overflow: visible !important;
  padding: 2 !important;
  margin: 2 !important;
}

.glow-bisono {
  text-shadow: 0 0 2px #00ffff, 0 0 4px #00ffff, 0 0 6px #00ffff;
}

.glow-soldado {
  text-shadow: 0 0 2px #ffff00, 0 0 4px #ffff00, 0 0 6px #ffff00;
}

.glow-veterano {
  text-shadow: 0 0 2px #ffa500, 0 0 4px #ffcc00, 0 0 6px #ffcc00;
}

.glow-campeon {
  text-shadow: 0 0 2px #ff0000, 0 0 4px #ff0000, 0 0 6px #ff0000;
}

.glow-commander {
  text-shadow: 0 0 2px purple, 0 0 4px purple;
}

.border-blanco {
  border-color: white;
}

.border-gris {
  border-color: gray;
}

.border-negro {
  border-color: black;
}

.border-dorado {
  border-color: gold;
}

.border-morado {
  border-color: purple;
}

.enemy-text {
  font-size: clamp(0.5rem, 1.2vw, 0.75rem); /* se adapta al ancho disponible */
  white-space: nowrap;                     /* evita que salte a otra línea */
  overflow: hidden;                        /* oculta el desborde */
  text-overflow: ellipsis;                 /* añade "..." si se desborda */
}
